<center>
  <h1> Other Page </h1>
  <h2>
    views/otherpage.hbs <br />
    is the body of <br />
    views/layouts/main.hbs
  </h2>
  <br />
  `foo` variable passed from route: {{foo}} <br />
  <br />
  Back to the index: <a href="/">views/index.hbs</a> <br />
</center>